// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {max-width: 990px; }

.jumbotron {
background: url(https://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg) no-repeat center center;
background-size: cover;
height: 800px;
}

.nav li {
display: inline;
text-transform: uppercase;
margin-left: 10px;
margin-right: 10px;
cursor: pointer;
}

.btn-primary {
color: #fff;
text-transform: uppercase;
font-family: Verdana;
padding: 20px;
background: #333;
text-decoration: none;
padding-left: 40px;
padding-right: 40px;
font-weight: bold;
}
