<div class="login">
	<div class="container">
		<%=form_for(:session, url: login_path) do |f|%>
			<%=f.email_field :email, :placeholder => "email@example.com"%>
			<%=f.password_field :password, :placeholder => "password"%>
			<%=f.submit 'Log In', class: 'btn-submit'%>
		<% end %>
    
	</div>
</div>